/* 
===========================================
            Mobile Site
===========================================
*/

@media only screen and (max-width: 600px) {

    /* 
    ===========================================
                    Header
    ===========================================
    */

    nav {
        display: none;
    }

    header {
        width: 100vw - var(--mobile-padding);
        padding: 1rem var(--mobile-padding);
    }

    #title {
        width: 80%;
        font-size: .75rem;
    }


    /* 
    ===========================================
                Hamburger Menu
    ===========================================
    */

    #hamburger-box {
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }

    #hamburger {   
        margin: 0;
        padding: 0;
        width: 35px;
        height: 35px;
        background-image: url('/img/hamburger.png');
        background-size: cover;
        transition: all .4s ease;
    }

    .mobile-menu {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 70vw;
        width: 30vw;
        height: 100vh;
        background: white;
        border-left: 2px solid var(--accent-color);
        display: none;
    }

    .close {
        width: 100%;
        height: 2rem;
        border: none;
        background: var(--accent-color);
    }

    .menu-box {
        margin: 1rem;
    }

    .mobile-menu h3 {
        color: var(--accent-color);
        margin: 0 5px; 
        text-align: center;
        border-bottom: 1px solid var(--accent-color);
    }

    .mobile-menu ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .mobile-menu a {
        color: var(--accent-color);
        text-decoration: none;
    }

    .mobile-menu a li {
        padding: .5rem;
    }

    .bottom-border {
        border-bottom: 1px solid var(--accent-color);
    }


    /* 
    ===========================================
                Hero Section
    ===========================================
    */

    .hero-section {
        padding-bottom: .8rem;
    }

    #hero-img {
        width: 50vw;
        height: 50vw;
    }

    .caption {
        width: 75vw;
    }

    /* 
    ===========================================
                    SlideShow
    ===========================================
    */

    .slideshow-section {
        display: none;
    }

    /* 
    ===========================================
                Content Section
    ===========================================
    */

    .content-section {
        flex-direction: column;
        align-items: center;
        padding-top: 0;
        padding-bottom: 4rem;
    }

    .content-box {
        margin: 2rem;
        width: 75vw;
        
    }

    /* 
    ===========================================
                    Animations
    ===========================================
    */

    @keyframes menuEnter {
        0% {transform: rotate(0deg)}
        100% {transform: rotate(90deg)}
    }

    @keyframes menuExit {
        0% {transform: rotate(90deg)}
        100% {transform: rotate(0deg)}
    }
} 