
/*
===========================================================
                        global
===========================================================
*/

* {
    margin: 0;
    padding: 0;
}

html  {
    height: 100%;
}

body {
    background: #f6f6f4;
    height: 100%;
}


/*
===========================================================
                        layout
===========================================================
*/

#wrapper {
    width: 100vw;
    min-height: 100%;
}

main {
    overflow: auto;
    padding-bottom: 4vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "hd hd"
                         "nav nav"
                         "col1 col2";
}

/*
===========================================================
                        header
===========================================================
*/

#headerimg {
    background: url('../img/headerimg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: hd;
    height: 35vh;
    
}

/*
===========================================================
                        navigation
===========================================================
*/

nav {
    background: #585E7E;
    grid-area: nav;
    padding: 15px 0;
}

#nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.nav-item {
    font-size: 20px;
    padding: 0 20px;
}
.nav-item a {
    color: #f6f6f4;
    text-decoration: none;
}

/*
===========================================================
                        content
===========================================================
*/

#content {
    display: flex;
}

#col-one {
    grid-area: col1;
}

#col-two {
    grid-area: col2;
}
.container {
    padding: 20px;
}
.container header {
    text-align: center;
}

.container p {
    text-align: left;
}


/*
===========================================================
                        footer
===========================================================
*/
footer {
    background: #585E7E;
    text-align: center;
    width: 100%;
    height: 4vh;
    line-height: 4vh;

    position: relative;
    margin-top: -4vh;
    clear: both;
}

/*
===========================================================
                    form
===========================================================
*/



form {

    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

/*
===========================================================
                    mobile css
===========================================================
*/

@media(max-width: 600px) {

    #content {
        flex-wrap: wrap;
    }

    #col-two {
        width: 100%;
    }

}