@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

/* 
===========================================
                Variables
===========================================
*/

:root {
    --main-color: #192846;
    --accent-color: #D19D3B;

    --padding: 3rem;

    --mobile-padding: 1.3rem;
}


/* 
===========================================
                Global
===========================================
*/

html, body {
    padding: 0;
    margin: 0;
}

.wrapper {
    font-family: 'Montserrat','PT Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

/* 
===========================================
                Header
===========================================
*/

header {
    display: flex;
    width: 100vw - var(--padding);
    padding: 1rem var(--padding);
    background: var(--main-color);
    color: var(--accent-color);
}

#title {
    width: 50%;
    display: flex;
    align-items: center
}

#title > h1 {
    margin: 0;
    font-weight: 500;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

nav > ul {
    align-self: center;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.nav-item {
    height: 70%;
    width: 5rem;
    display: flex;
    justify-content: center;
}

.nav-item a {
    text-align: center;
    align-self: center;
    color: var(--accent-color);
    text-decoration: none;
}

.nav-item a:hover {
    text-decoration: underline;
}

.right-line {
    border-right: .05rem solid var(--accent-color);
}

#hamburger-box {
    display: none;
}

/* 
===========================================
               Hero Section
===========================================
*/

.hero-section {
    padding: 3rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero-img {
    width: 400px;
    height: 400px;
    background: url('/img/naacpimg.png') no-repeat;
    background-size: cover;
}

#caption-box {
    padding-top: 2.5rem;
    color: var(--accent-color);
}

.caption {
    margin: 0;
    width: 35vw;
    text-align: center;
    font-style: italic;
    display: none;
    animation: fading 8s;
}

.caption-src {
    margin: 0;
    margin-top: .7rem;
    text-align: center;
    font-weight: bold;
    display: none;
    animation: fading 8s;
}

/* 
===========================================
            Slideshow Section
===========================================
*/

.slideshow-section {
    background: var(--main-color);
    height: 60vh;
}

/* 
===========================================
            Content Section
===========================================
*/

.content-section {
    padding: 7rem 0;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.content-box {
    width: 35vw;
    border: 2px solid var(--accent-color);
    padding: 1rem;
}
.content-header {
    margin: 0;
    text-align: center;
}

.content {
    line-height: 1.8rem;
}

/* 
===========================================
                Footer
===========================================
*/

footer {
    background: var(--main-color);
    color: var(--accent-color);
    padding: 1rem;
    text-align: center;
}

/* 
===========================================
                Footer
===========================================
*/

@keyframes fading {
    0% {opacity: 0}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}