
.about-header {

    width: 100vw;

}

.about {

    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    .box {

        padding: 1rem;
        
        margin-bottom: 1rem;
        h1 {
            width: 100%;
            text-align: center;
            margin-bottom: 1rem;
            color: color(accent);
        }

        h3 {

            font-size: 20px;
            font-weight: 300;
            text-align: center;
            color: color(accent);
            opacity: .6;

        }
    }   

    .page-break {

        margin: 1vh 0 2vh 0;
        width: 50vw;

    }
    .eboard-profile {

        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 95vw;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        color: color(btnTxt);
        background-color: color(btn1);
        border-radius: 10px; 
        font-family: 'Noto Sans KR', sans-serif;
        .headshot {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-size: cover;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .eboard-description {
            margin-top: 1rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            width: 80%;

            h2 {
                text-align: center;
                font-size: 28px;
                font-weight: 600;
                width: 100%;
                border-bottom: 1px solid white;

            }
            h3 {
                font-size: 24px;
                font-weight: 300;
            }
            h4 {

                font-weight: 100;
                opacity: .6;
            }
            p {
                opacity: .6;
            }
        }

    }

}