//Desktop
@include mediaLg {
    .hero-img {
        height: 52vh;
        background-position-y: -200px
    }
    
    .hamburger {
        display: inherit;
        margin-left: 1.5rem;
        width: 23px;
        height: 23px;
        &:hover {
            cursor: pointer;
        }
        .line {
            margin-bottom: 3px;
            width: 100%;
            height: 3px;
            border-radius: 1px;
            background: color(accent);

            &:last-child {
                margin: 0;
            }
        }
    }

    header {
        padding: .75rem $padding;

        .logo {
            .logo-img {
                width: 80px;
                height: 80px;
            }

            h1 {
                font-size: 36px;
                margin-left: 1.5rem;
            }
        }

        nav {
            display: block;
        }

        .hamburger {
            margin-top: 7px;
            margin-left: 0;
        }
    }

    .menu {
        width:18vw;

        button {
            padding: 2.6rem 0;
            font-size: 20px;
        }

        ul {
            li {
                a {
                    font-size: 20px;
                }
            }
        }
    }

    main {
        padding: 1rem $padding;
        padding-top: 12vh;
        display: flex;
        flex-direction: row;

        &.solid {
            margin-top: 4vh;
        }
        .col1 {
            margin: 0;
            padding: auto 0;
            width: 24vw;
            text-align: left;
            justify-content: left;
            .brand-text {
                font-size: 56px;
                border: none;
                color: color(accent);
                font-weight: 100;
                margin: 0;
            }
            .btn {
               margin-top: 3vh;
               margin-right: auto;
            }
        }

        .col2 {
            margin-top: 0;
            margin-left: 13vw;
            width: 20vw;

            .events-title {
                font-size: 32px;
            }

            ul {
                li {
                    text-align: left;
                    flex-direction: row;
                    .date {
                        font-size: 32px;
                    }

                    .event-name {
                        font-size: 24px;
                    }
                }
            }
            .event-link {
                text-align: left;
            }
        }
    }

    .even-col {
        width: 50%;
    }
    
    #contact-header {
        #contact-title {
            font-size: 80px;
            text-align: left;
        }
    }
    #contact-main {
        height: 63vh;
        flex-direction: row;



        form {
            
            padding: 2.5rem;
            width: 60%;

            h2 {
                margin: 0;
                font-size: 36px;
                text-align: left;
            }
            #input-container {
                margin-top: 40px;
                flex-direction: row;
                .input-item {
                    width: 42%;
                    text-align: left;
                    margin: 0;
                }
            }

            textarea {
                height: 35%;
            }

            button {
                margin-top: auto;
                margin-bottom: 0;
                align-self: left;
                justify-self: left;
            }

        }

        #contact-info {
            margin-left: auto;
            width: 40%;

            .info-item {
                flex-direction: row;
                p {
                    font-size: 20px;
                    text-align: left;
                    margin-left: 1rem;
                }
            }
        }
    }

    .contact-footer {
        position: absolute;
        bottom: 0;
    }

}
//Tablets
@include mediaMd {
    .brand-text {
        font-size: 56px;
        color: #fff;
    }
}

//Smartphones
@include mediaSm {
    .brand-text {
        font-size: 56px;
        color: #fff;
    }
}