//Desktop
@include mediaLg {
    .hero-img {
        height: 55vh;
        background-position-y: -200px
    }
    
    .hamburger {
        display: inherit;
        margin-left: 1.5rem;
        width: 23px;
        height: 23px;
        &:hover {
            cursor: pointer;
        }
        .line {
            margin-bottom: 3px;
            width: 100%;
            height: 3px;
            border-radius: 1px;
            background: color(accent);

            &:last-child {
                margin: 0;
            }
        }
    }

    header {
        padding: .75rem $padding;

        .logo {
            .logo-img {
                width: 80px;
                height: 80px;
            }

            h1 {
                font-size: 36px;
                margin-left: 1.5rem;
            }
        }

        nav {
            display: block;
        }

        .hamburger {
            margin-top: 7px;
            margin-left: 0;
        }
    }

    .menu {
        width:18vw;

        button {
            padding: 2.6rem 0;
            font-size: 20px;
        }

        ul {
            li {
                a {
                    font-size: 20px;
                }
            }
        }
    }

    main {
        padding: 1rem $padding;
        padding-top: 5vh;
        display: flex;
        flex-direction: row;
        .col1 {
            padding: auto 0;
            width: 24vw;
            text-align: left;
            justify-content: left;
            .brand-text {
                font-size: 56px;
            }
            .btn {
               margin-top: 3vh;
               margin-right: auto;
            }
        }

        .col2 {
            margin-top: 0;
            margin-left: 13vw;
            width: 20vw;

            .events-title {
                font-size: 32px;
            }

            ul {
                li {
                    text-align: left;
                    flex-direction: row;
                    .date {
                        font-size: 32px;
                    }

                    .event-name {
                        font-size: 24px;
                    }
                }
            }
            .event-link {
                text-align: left;
            }
        }
    }
}
//Tablets
@include mediaMd {
    .brand-text {
        font-size: 56px;
    }
}

//Smartphones
@include mediaSm {
    
}