@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Montserrat&display=swap");
@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: proxima-nova, sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}


.hero-img {
  width: 100%;
  height: 40vh;
  background: url("../img/heroimg.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background: color(primary);
  padding: 0.5rem 10vw;
  display: flex; 
  align-items: center;
  opacity: .97;

  .logo {
    display: flex;
    align-items: center;
    .logo-img {
      width: 70px;
      height: 70px;
    }

    h1 {
      color: color(accent);
      margin-left: 0.5rem;
      font-size: 22px;
    }
  }

  nav {
    margin-left: auto;
    opacity: 0.8;
    display: none;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      li {
        padding: 0 1.5rem;

        a {
          font-size: 17px;
          color: color(accent);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .hamburger {
    margin-left: auto;
    width: 23px;
    display: flex;
    flex-direction: column;
    input {
      z-index: 3;
      width: 100%;
      height: 100%;
    }
    &:hover {
      cursor: pointer;
    }
    .line {
      margin-bottom: 3px;
      width: 100%;
      height: 3px;
      border-radius: 1px;
      background: color(accent);

      &:last-child {
        margin: 0;
      }
    }
  }
}

.solid-header {
  position: fixed;
  display: block; 
  .solid-title {
      margin-top: 6vh;
      font-size: 80px;
      color: white;
      font-weight: 600;
  }

  .solid-wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      nav {
          margin-left: auto;
      }
  }
}

.menu {
  background: color(accent);
  position: fixed;
  height: 100vh;
  width:30vw;
  z-index: 4;
  right: 0;
  top: 0;
  display: none;
  flex-direction: column;
  align-items: center;

  button {
    z-index: 4;
    width: 100%;
    padding: 2rem 0;
    background: darken($color: color(accent), $amount: 5);
    border: none;
    color: color(text2);

    font-size: 16px;
    font-weight: 0;
  }

  ul {
    z-index: 4;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    li {
      z-index: 4;
      padding: .75rem;

      a {
        z-index: 4;
        color: color(text2);
        text-decoration: none;
        font-size: 16px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.show {
  position: fixed;
  display: flex;
  z-index: 4;
}

.wrapper {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {

  &.solid {
    margin-top: 12vh;
  }

  padding: 1rem 10vw;
  padding-top: .2vh;
  padding-bottom: 9vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .col1 {
    width: 100%;
    min-height: 20vh;
    line-height: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 3.5vh;
    .brand-text {
      font-family: "Crimson Text", serif;
      font-size: 28px;
      font-weight: 600;
      color: #fff;
      border: 4px solid #fff;
      margin-bottom: 4vh;
    }

    .btn {
      display: inline-block;
      border-radius: 10px;
      background-color: color(btn1);
      border: none;
      color: color(btnTxt);
      text-align: center;
      font-size: 14px;
      width: 225px;
      height: 60px;
      transition: all 0.5s;
      cursor: pointer;

      span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;

        &:after {
          content: "\00bb";
          position: absolute;
          opacity: 0;
          top: 0;
          right: -10px;
          transition: 0.5s;
        }
      }

      &:hover {
        span {
          padding-right: 10px;

          &:after {
            opacity: 1;
            right: 0;
          }
        }
      }

      &:focus {
        outline: none;
      }
    }
  }

  .col2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .events-title {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 28px;
      color: color(text2);
    }
    ul {
      list-style: none;

      li {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        flex-direction: column;
        text-align: center;
        .date {
          padding: 2px;
          border: 1px solid color(text1);
          font-size: 24px;
          color: color(text1);
        }

        .event {
          margin-left: 0.75rem;

          .event-name {
            font-size: 20px;
            color: color(text1);
          }
          .event-subtext {
            font-size: 14px;
            color: color(text1);
          }
        }
        &::last-child {
          padding-bottom: 0;
        }
      }
    }
    .event-link {
      font-size: 14px;
      text-decoration: none;
      color: color(text1);
      opacity: .9;
      text-align: center;
      &:hover {
        opacity: 1;
        text-decoration: underline;
      }
    }
  }
}

.even-col {
  width: 100%;
  height: auto;
}

footer {
  margin-top: auto;
  padding: .5rem;
  justify-self: flex-end;
  border-top: color(accent) solid 1px;
  color: color(accent);
  text-align: center;
  width: 90%;
}

@import 'event';
@import 'contact';
@import 'mobile'; 